html, body {
  background-color: #FADFD7;
  color: #2F2F2F;
  font-family: 'Goethe FF Clan', sans-serif;
}

#logo-onleihe {
  margin-top: -8px;
  width: 210px;
}

#feed h1 {
  font-weight: bold;
  text-shadow: 0px 0px 1rem rgba(70,26,12,0.4); 
  color: #FFF;
}

#feed li {
  background: #FFFAF8;
}

// overriding / supplementing Tachyons
.shadow-5 { box-shadow: -4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); }
.top-3 { top: 3rem; }
.left-4 { left: 4rem; }
.right-4 { right: 4rem; }