@font-face {
  font-family: 'GoetheFFClan-Bold';
  src: url('fonts/GoetheFFClan-Bold.ttf') format('truetype');
}

html, body {
  background-color: #FADFD7;
}

#feed {
  position: absolute;
}

#feed h1 {
  background: #FFFAF8;
  color: #2F2F2F;
  font-family: 'GoetheFFClan-Bold', sans-serif;
}

#feed li {
  background: #FFFAF8;
  color: #2F2F2F;
}

// overriding / supplementing Tachyons
.shadow-5 { box-shadow: -4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); }
.top-3 { top: 3rem; }
.left-4 { left: 4rem; }
.right-4 { right: 4rem; }
.w-200px { width: 200px; }